* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header style */
.banner {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  width: 1600px;
  height: 809px;
}
.head-description {
  margin: 32px 0;
}
.header-container {
  align-items: center;
  padding: 233px 231px 142px 700px;
  text-align: end;
}
.head-title {
  margin-right: 224px;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #151414;
}
.head-description {
  color: #444343;
  margin: 32px 224px 0 0;
  margin-bottom: 32px;
}
.button {
  color: white;
  background-color: #f15b22;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
  margin-right: 224px;
}
/* failure section style */
.failure {
  max-width: 1072px;
  height: 723.3px;
  display: flex;
  gap: 87px;
  justify-content: center;
  align-items: center;
  margin-top: 155px; 
  margin-bottom: 130px;
}
.picture {
  width: 569px;
  height: 723.3px;
}
.failure-description {
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 16px;
  
}
.list-container li {
  list-style: none;
  margin-bottom: 8px;
}
.tick-mark {
  width: 4%;
  margin-right: 10px;
}
.text {
  margin -top:394px;

}
/* plan section style */
.plan {
  text-align: center;
  margin-left: 230px;
  margin-right: 290px;
  margin-bottom: 124px;
}
.plan-container {
  display: flex;
  max-width: 1141px;
  justify-content: space-between;
}
.plan-title {
  text-align: center;
  margin-bottom: 49.7px;
}
/* footer section style */
.footer {
  display: flex;
  background: #151414;
}
.footer-future {
  margin: 142px 165.5px 117.7px 255px;
}
.future-title {
  color: #f8f8f8;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 45px;
}
.future-description {
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-icon p {
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-icon > p {
  margin-bottom: 16px;
}
.footer-subscribe {
  margin: 142.3px 204px 230.7px 165.5px;
  margin-right: 204px;
  margin-bottom: 230px;
}
.subscribe-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 31px;
}
.email {
  margin-bottom: 16px;
  padding: 21px 185px 22px 21px;
}
.subscribe {
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  padding: 20px 36.2px;
}
